* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  min-height: 100vh; /* Sayfanın en az 100 viewport yüksekliğine sahip olmasını sağlar */
  overflow-y: auto; /* Yalnızca dikey scroll bar'ı gizler */
}

header {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.input-form {
  position: relative;
}

.todo-input {
  width: 400px;
  height: 60px;
  outline: none;
  border: none;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}

.todo-button {
  position: absolute;
  height: 60px;
  background-color: white;
  width: 50px;
  border: none;
  font-size: 2.2rem;
  color: #ff6f47;
}

.todo-button:hover {
  cursor: pointer;
  background-color: #f55124;
  color: white;
}

.todo-card {
  position: relative;
  margin-top: 50px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.list-input {
  width: 600px;
  height: 60px;
  outline: none;
  border: none;
  font-size: 2rem;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.tools-btn {
  display: inline-flex;
  position: absolute;
  height: 60px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.completed {
  background: rgb(11, 212, 162);
  border: none;
  font-size: 2rem;
  color: #fff;
  width: 50px;
}

.completed:hover {
  cursor: pointer;
  background: rgb(8, 146, 112);
}

.delete {
  background-color: #ff6f47;
  border: none;
  font-size: 2rem;
  color: #fff;
  width: 50px;
}

.delete:hover {
  cursor: pointer;
  background-color: #f55124;
}


@media screen and (max-width: 820px) {
  header{
    text-align: center;
    flex-direction: column;
  }
  .list-input {
    width: 250px;
    font-size: 1.2rem;
  }
  .todo-input {
    width: 350px;
  }
  .todo-card {
    padding-right: 50px;
  }
  .input-form {
    margin-right: 25px;
  }
}